apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: booking-rush
  labels:
    app: payment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: payment-service
          image: ghcr.io/nat-prohmpiriya/booking-rush/payment-service:99a168a
          imagePullPolicy: Always
          ports:
            - containerPort: 8084
          env:
            - name: SERVER_PORT
              value: "8084"
            - name: PAYMENT_GATEWAY
              value: "stripe"
            - name: STRIPE_ENVIRONMENT
              value: "test"
          envFrom:
            - configMapRef:
                name: booking-rush-config
            - secretRef:
                name: booking-rush-secrets
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /health
              port: 8084
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8084
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: booking-rush
spec:
  selector:
    app: payment-service
  ports:
    - port: 8084
      targetPort: 8084
  type: ClusterIP
